<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>erbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,76},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>fanfan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>malisubing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{74,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>shengjingbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,73},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>sinianbing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bingcells.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70295520bd5b588830a9914a9deda1d$</string>
            <key>textureFileName</key>
            <string>bingcells.png</string>
        </dict>
    </dict>
</plist>
